<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="flex-container">
<div class="container">
        <div class="left-side">
           <!-- <img src="https://farm5.staticflickr.com/4860/31155752727_58e43902f6_b.jpg">-->
        </div>
        <div class="right-side">
        <h1 class="first-h1">Project</h1>
        <h1 class="second-h1"><span>RED </span>Shoe</h1>
     
        <p class="lead">Enter your email to join <strong><%=data%></strong> 
        others on our waitlist. </p>
     
        <form method="POST" action='/register'>
        <input type="text" name="email" class="form" placeholder="Enter Your Email">
        <button>Join Now</button>
        </form>
        </div>
</div>
</div>